:root{
--height:12vw;
--font-size:clamp(14px,3vw,20px);
--icon-size:clamp(14px,3vw,100px);
--sqrt-two:1.414;
--bs-border-color:red;
--color-text:#0A3E34;
--player-o-color:#42C1AA;
--player-o-btn-color:#CBEEE8;
--player-x-color:#EC5454;
--player-x-btn-color:#ffa7a7;
--draw-color:#68819d;
--draw-btn-color:#c6d5e3;
}
*{
  margin:0;
  box-sizing:border-box;
}

/* .navbar span:first-of-type,
.navbar span:last-of-type{
  color:var(--player-o-color)
}
.navbar span:nth-of-type(2){
  color:var(--player-x-color)
} */

.navbar  span{
  /* color:var(--player-o-color) */

}

.navbar .navbar-brand{
  font-weight: bold;
  background: linear-gradient(to right , var(--player-o-color), var(--player-x-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon{
  font-size:var(--icon-size);
  color:rgb(53, 53, 53);
}


.box{
  height:var(--height);
  width:var(--height) ;
  text-align: center;
  user-select: none;
}

div.win{
  background:var(--player-o-color);
  overflow: hidden;
  height:1px;
  opacity: 0%;
}

.winBtn{
  background-color:var(--player-o-btn-color) !important;
  width:fit-content;
}

.winBtn:hover{
  color: var(--color-text) !important;

}
.fs-0 *,.fs-0{
  font-size:var(--font-size)
}

.btn.fs-0{
  font-size: var(--font-size);
}

.playerX{
  color:var(--player-x-color);
}
.playerO{
  color:var(--player-o-color);
}
.scoreBoard{
  width:clamp(100px , 70vw, 800px);
  margin:0 auto;
}

.scoreBoard .name, .scoreBoard .score{
  padding:10px 20px;
}

.playerX.name,
.playerX.score{
  background:var(--player-x-color);
  color:white;

}
.playerO.name,
.playerO.score{
  background:var(--player-o-color);
  color:white;
}

.spacer{
  width: 3px;
}

.playerX.name, .playerO.name{
  transition: width 10s;
  overflow: hidden;
}

.topbarBorder{
  height:3px;
  width:100%;
  background:linear-gradient(to right, var(--player-o-color),var(--player-x-color));
}

#horizontalWin{
  width:calc(2.5 * var(--height));
  height:calc(var(--height)/ 2);
  background-color: var(--player-o-color);
  animation: expandHorizontalWidth var(--winAnimationDuration) ease;
  transform: translateY(-50%) ;

}
#verticalWin{
  width:calc(var(--height)/ 2);
  height:calc(2.5 * var(--height));
  background-color: var(--player-o-color);
  transform: translateX(-50%);
  animation:expandVerticalHeight var(--winAnimationDuration) ease-in;

}

#mainDiagonalWin{
  top:50%;
  left:50%;
  width:calc(var(--height)/ 2);
  height:calc(var(--sqrt-two) * 2.5 * var(--height));
  background-color: var(--player-o-color);
  transform: rotate(-45deg);
  transform-origin: top center;
  animation:expandVerticalHeight var(--winAnimationDuration) ease-in;  

}
#secondDiagonalWin{
  top:50%;
  left:50%;
  width:calc(var(--height)/ 2);
  height:calc(var(--sqrt-two) * 2.5 * var(--height));
  background-color: var(--player-o-color);
  transform: rotate(45deg);
  transform-origin: top center;
  animation:expandVerticalHeight var(--winAnimationDuration) ease-in;  

}


@keyframes expandHorizontalWidth{
  from{
    width:0;
  }

  to{
    width:calc(2.5 * var(--height));
  }
}
@keyframes expandVerticalHeight{
  from{
    height:0;
  }

  to{
    height:calc(2.5 * var(--height));
  }
}

@keyframes fade-in{
  from{
    opacity: 0%;
  }

  to{
    opacity:100%
  }
}
@keyframes fade-out{
  from{
    opacity: 100%;
  }

  to{
    opacity:0%
  }
}

@keyframes expandHeight{
  from{
    height:0%;
  }
  to{
    height:fit-content;
  }
}